<div id="question-container">
  <ng-container *ngIf="question; else quizComplete">
    <p>
      <b>{{ question.category }}</b>
    </p>
    <p [innerHTML]="question.question"></p>

    <!-- Display answer options -->
    <div
      *ngIf="question.answers && question.answers.length > 0"
      class="question-radio-group"
    >
      <label *ngFor="let option of question.answers">
        <input
          type="radio"
          [(ngModel)]="answer"
          [value]="option"
          name="answerOption"
          class="question-radio-button"
        />
        {{ option.answer }}
      </label>
    </div>

    <!-- Display correct or incorrect message -->
    <div *ngIf="answer !== null">
      <div *ngIf="answer.is_correct; else incorrect">
        <p>Correct!</p>
      </div>
      <ng-template #incorrect>
        <p>Wrong! The correct answer is {{ getCorrectAnswer() }}</p>
      </ng-template>
    </div>
  </ng-container>
  <ng-template #quizComplete>
    <p>We're all out of questions!</p>
  </ng-template>
</div>
